body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: #103b66;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial;
}

h1 {
  font-size: 22px;
  font-weight: 600;
  text-align: center;
}
h2 {
  font-size: 20px;
}
h3 {
  font-size: 17px;
  font-weight: 600;
}
p {
  font-size: 15px;
  margin: 0;
  font-weight: 400;
}
span.text-muted {
  font-size: 13px;
  color: #7d8a99;
}
.text-sm {
}
a {
  text-decoration: none;
  color: #21b8f9;
}
nav {
  padding: 0px 2em;
  border-bottom: 1px solid rgba(10, 37, 64, 0.32);
  height: 64px;
}
main {
  min-height: calc(100vh - 64px);
  background: #f8f9fb;
  padding: 1em 0 4em 0;
}
.inner-container {
  width: 90%;
  margin: 0 auto;
  gap: 3em;
}
.right-side {
  gap: 0.3em;
}
.right-side p {
  position: relative;
}
.badge {
  position: absolute;
  top: -15px;
  right: -14px;
  background: #f33451;
  padding: 0.5em;
  border-radius: 50px;
  width: 6px;
  height: 6px;
  color: #fff;
}
.w-full {
  width: 100%;
}
.configuration-info {
  border-bottom: 1px solid #e1e4fe;
  border-radius: 100px;
  height: 44px;
  background-color: #fff;
  width: 95%;
}
.advanced-wizard-cards {
  grid-template-rows: 1fr !important;
}
.advanced-wizard h2 {
  margin-bottom: 1.5em;
  gap: 1em;
}
.wizard-cards-container {
  display: grid;
  grid-gap: 1.5em;
}
.standard-wizard h2 {
  margin-bottom: 1.5em;
}
.wizard-card {
  gap: 1.5em;
  width: 291px;
  height: 212px;
  box-shadow: 0px 2px 2px rgba(50, 50, 71, 0.06),
    0px 2px 4px rgba(50, 50, 71, 0.06);
  border-radius: 4px;
  background-color: #fff;
  position: relative;
}
.star-icon {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
}

/* Flexbox */
.flex {
  display: flex;
}
.items-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.justify-around {
  justify-content: space-around;
}
.justify-between {
  justify-content: space-between;
}
.flex-col {
  flex-direction: column;
}
/* Scrollbar */
::-webkit-scrollbar {
  width: 9px;
}

::-webkit-scrollbar-track {
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  border-radius: 0 0 50px 50px;
}

:hover::-webkit-scrollbar-thumb {
  background-color: #b3b4b8;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(196, 201, 211);
}

/* Tablet */
@media screen and (min-width: 768px) {
  .inner-container {
    width: 80%;
  }
  .wizard-cards-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  h1 {
    text-align: start;
  }
}

/* Desktop */
@media screen and (min-width: 1024px) {
  .inner-container {
    width: 60%;
  }
  .wizard-cards-container {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
  }
}
