html {
  font-size: 62.5%;
}
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial;
}

h1 {
  font-size: 2.2rem;
  font-weight: 600;
  text-align: center;
}
h2 {
  font-size: 2rem;
  margin: 0;
}
h3 {
  font-size: 1.7rem;
  font-weight: 400;
}
.h3--bold {
  font-weight: 600 !important;
}
p {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0;
}
span {
  font-size: 1.4rem;
}
small {
  font-size: 1.3rem;
}
.x-small {
  font-size: 1.18837rem;
}
.gap {
  gap: 1.6rem;
}
.gap-sm {
  gap: 0.5em;
}
.main__cards__card__info__tag {
  color: #fff;
  background: #21b8f9;
  border-radius: 4px;
  width: 8.7rem;
  height: 2.1rem;
  font-family: "Manrope";
  font-weight: 600;
}
nav {
  padding: 0px 2em;
  border-bottom: 1px solid rgba(10, 37, 64, 0.32);
  height: 6.4rem;
}
main {
  min-height: calc(100vh - 6.4rem);
  background: #f8f9fb;
  padding: 2.7em 0 2em 0;
}
.nav__right-side {
  gap: 0.3em;
}
.nav__right-side__p {
  position: relative;
}
.nav__right-side__p__badge {
  position: absolute;
  top: -1.5rem;
  right: -1.4rem;
  background: #f33451;
  padding: 0.5em;
  border-radius: 50px;
  width: 6px;
  height: 6px;
  color: #fff;
}
.w-full {
  width: 100%;
}
.main__toolbar {
  width: 95%;
  margin: 0 auto;
}

.main__toolbar__left-side__search {
  gap: 1.217em;
  border: 1px solid rgba(10, 37, 64, 0.32);
  border-radius: 6px;
  height: 44px;
  padding: 0 1.4em;
  width: 35rem;
  transition: all 0.3s;
}
.main__toolbar__left-side__search__img {
  width: 2rem;
  height: 2rem;
}
.main__toolbar__left-side__search__input {
  outline: none;
  border: none;
  background-color: transparent;
  width: calc(100% - 1.4rem);
  height: 2rem;
  font-size: 1.4rem;
}
.main__toolbar__left-side__search__input::placeholder {
  color: #8592a0;
  font-family: "Source Sans Pro", "Helvetica Neue";
}
.vertical-line {
  width: 0px;
  height: 3.9rem;
  border-left: 2px solid #546679;
}
.select-container {
  gap: 3rem;
}
select {
  outline: none;
  border: none;
  width: 18rem;
  background: transparent;
  color: #546679;
}
select option {
  background: #21b8f9;
  color: #fff;
}
.add-product-btn {
  color: #fff;
  border: none;
  padding: 12px 1.6rem;
  background: #21b8f9;
  box-shadow: 0px 4px 4px rgba(50, 50, 71, 0.08),
    0px 4px 8px rgba(50, 50, 71, 0.06);
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.6rem;
}
.switch {
  position: relative;
  display: inline-block;
  width: 5.5rem;
  height: 2.6rem;
}

.switch input {
  visibility: hidden;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #b6bec6;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  width: 1.9rem;
  height: 1.9rem;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.switch-input:checked + .slider {
  background-color: #21b8f9;
}

.switch-input:focus + .slider {
  box-shadow: 0 0 1px #21b8f9;
}

.switch-input:checked + .slider:before {
  -webkit-transform: translateX(2.6rem);
  -ms-transform: translateX(2.6rem);
  transform: translateX(2.6rem);
}

.slider.round {
  border-radius: 50px;
}

.slider.round:before {
  border-radius: 50%;
}
.main__cards {
  margin: 2.7rem 0;
  display: grid;
  grid-gap: 2.4rem;
}
.main__cards__card__info {
  padding: 1.6rem 0;
  gap: 0.7rem;
}
.main__cards__card {
  position: relative;
  width: 36.2rem;
  height: 21.1rem;
  box-shadow: 0px 4px 5px rgb(50 50 71 / 20%);
  border-radius: 1rem;
  overflow: hidden;
}
.main__cards__card__label {
  position: absolute;
  bottom: 1rem;
  font-weight: 600;
  right: 0.6rem;
}
.main__cards__card__info__variants {
  font-size: 1.1rem;
  color: #6c7c8c;
}
.main__cards__card__info__price-before {
  text-decoration: line-through;
}
.pagination-toolbar {
  padding: 0 3rem;
  width: 90%;
  margin: 0 auto;
}
.pagination-toolbar * {
  color: #6c7c8c;
  font-size: 1rem;
}
/* Flexbox */
.flex {
  display: flex;
}
.items-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.justify-around {
  justify-content: space-around;
}
.justify-between {
  justify-content: space-between;
}
.justify-end {
  justify-content: end;
}
.flex-col {
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}

/* Colors */
.ld-black-1 {
  color: #103b66;
}
.ld-black-2 {
  color: #233b53;
}
.ld-black-3 {
  color: #8592a0;
}
.ld-black-4 {
  color: #546679;
}
.ld-black-5 {
  color: #b6bec6;
}
.ld-blue {
  color: #21b8f9;
}
.ld-green {
  color: #00c48c;
}
/* Scrollbar */
::-webkit-scrollbar {
  width: 9px;
}

::-webkit-scrollbar-track {
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  border-radius: 0 0 50px 50px;
}

:hover::-webkit-scrollbar-thumb {
  background-color: #b3b4b8;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(196, 201, 211);
}
.main__toolbar {
  display: none;
  padding: 0px 2em;
}
.main__toolbar__left-side {
  width: 65%;
}
.main__toolbar__right-side {
  width: 40%;
}
/* Tablet */
@media screen and (min-width: 900px) {
  .main__cards {
    grid-template-columns: repeat(2, 362px);
  }
}

/* Desktop */
@media screen and (min-width: 1200px) {
  .main__toolbar {
    display: flex;
  }
  .main__cards {
    grid-template-columns: repeat(3, 362px);
    grid-template-rows: repeat(3, 21.1rem);
  }
}
